:root {
    --main-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
        rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    --main-transition: all 300ms ease-in-out;
    --body-background: #f6f6f6;
}

@import "~@marketgoo/ola/dist/index.css";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

* {
    box-sizing: border-box;
    outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    background: var(--body-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

button {
    border: none;
    background: none;
    appearance: none;
    cursor: pointer;
    padding: 0;
}

.app-header {
    background: var(--brand);
    position: sticky;
    top: 0;
    padding: var(--size-5);
}

.layout {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--size-5);
    height: calc(100vh - var(--size-8));
    overflow: auto;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.table-header {
    display: flex;
    align-items: center;
    gap: var(--size-2);
    color: var(--gray);
    font: var(--font-callout);
}

.sorting-icon {
    color: var(--gray-light);
}

.sorting-icon.active {
    color: var(--accent);
}

.actions {
    display: flex;
    align-items: center;
    gap: var(--size-2);
    justify-content: flex-end;
}

.action {
    background-color: var(--accent);
    color: var(--white);
    padding: var(--size-3);
    border-radius: 100%;
}

.action.delete {
    background-color: var(--error);
}

.action > svg.ola_icon.is-medium {
    width: var(--size-4);
    height: var(--size-4);
}

.toggle {
    display: inline-flex;
    gap: var(--size-1);
    background: var(--gray-light);
    border-radius: var(--size-7);
    align-items: center;
    overflow: hidden;
    color: var(--white);
}

.toggle > button {
    padding: var(--size-4) var(--size-5);
    transition: var(--main-transition);
    background: transparent;
}

.toggle > button > svg {
    width: var(--size-5);
    fill: white;
}

.toggle > button.active {
    background: var(--brand);
}
